body {
    background: linear-gradient(#ffe4cf, #968272);
}

.wrap {
    background-color: #fff;
}
header {
    background: url(../images/main_img02.png) no-repeat center top / cover;
    padding: 20px 40px;
    height: 900px;
}

h1.title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

nav {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #fff;
    height: 320px;
    justify-content: space-between;
    padding: 200px 0;
    align-items: center;
}

nav a {
    background-color: rgba(220, 20, 60, 0.7);
    padding: 20px;
    border-radius: 5px 10px;
    display: flex;
    width: 70%;
    justify-content: center;
    transition: all 0.4s;
}

.fas {
    opacity: 0;
    transition: all 0.4s;
    font-size: 18px;
}

nav a:hover .fas {
    opacity: 1;
    margin-right: 8px;
}

nav a:focus {
    background-color: #5f0008;
}

main > section > div {
    margin: 10px 20px;
}

main > section > div > p {
    margin: 10px 0;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
}

h2.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

h3.title {
    font-size: 20px;
    font-weight: bold;
}

main > section > div > p {
    line-height: 1.7;
}

aside {
    margin: 30px;
    margin-top: 50px;
}
aside img {
    margin: 10px 0;
    width: 100%;
    filter: saturate(30%) brightness(50%);
    transition: all 0.5s;
}
aside a:hover img {
    filter: none;
}

footer {
    background-color: #333;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

@media screen and (min-width: 640px) {
    .wrap {
        margin: auto;
        margin: 0 20px 100px;
    }
    header {
        height: 255px;
        padding: 0;
    }
    h1.title {
        margin-bottom: 0;
    }
    nav {
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 0;
    }
    nav a {
        width: 100%;
        border-radius: 0;
    }
    h1.title {
        padding: 120px 40px 50px;
    }
    aside {
        display: flex;
    }
    aside img {
        width: calc(100% - 10px);
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 430px;
    }
    h1.title {
        padding: 200px 40px 145px;
    }
    main {
        display: flex;
    }
    section {
        width: 70%;
    }
    aside {
        flex-direction: column;
        width: 30%;
        margin: 20px;
    }
}
